.nav-container {
  background-color: #111827;
  color: #646cff;
  padding: 1.5rem;
}

.nav-brand {
  font-size: 1.25rem;
  font-weight: bold;
}

.nav-brand-highlight {
  color: #FF9900;
}

.nav-search-container {
  width: 75%;
}

.nav-search-input {
  flex: 1;
  padding: 0.25rem 1rem;
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border: 0;
}

.nav-search-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #FF9900;
}

.nav-search-button {
  background-color: #146EB4;
  padding: 0.25rem 1.5rem;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

.nav-search-button:hover {
  background-color: #0F5A8A;
}

.nav-links {
  display: flex;
}

.nav-link {
  padding: 0 0.5rem;
  margin-right: 0.625rem;
}

.nav-link:hover {
  color: #FF9900;
}
